$espaciados: (
  0,
  2,
  4,
  8,
  12,
  16,
  20,
  24,
  32,
  40,
  48,
  56,
  64,
  72,
  80,
  96,
  112,
  120,
  128,
  160
);
$text-sm: 12px;
$text-md: 13px;
$text-lg: 13px;
$btn-radius: 0 !default;
$obj-radius: 0 !default;
$form-radius: 0 !default;
$btn-line-height: 1 !default;
$btn-padding: 12px !default;
$btn-text-mini: 12px !default;
$btn-text-small: 12px !default;
$btn-text-medium: 12px !default;
$btn-text-large: 12px !default;
$btn-text-xlarge: 12px !default;
$btn-text-full: 12px !default;
$btn-text-r: 12px !default;
$btn-text-m: 12px !default;
$tabs-text: 12px !default;
$font-weight-secondary-light: 300 !default;
$font-weight-secondary-medium: 400 !default;
$font-weight-secondary-bold: 700 !default;
$totalCols: 12 !default;
$totalColsXl: 24 !default;
$padding-global: 8px !default;
$padding-mobile: 24px !default;
$padding-desktop: 40px !default;
$padding-button: 8px !default;
$height-inputs: 40px !default;
$height-btn: 32px !default;
$text-input-m: 12px;
$text-input-d: 12px;
$container: 800px !default;
$container-2: 700px !default;
$container-3: 900px !default;
$container-4: 360px !default;
$container-5: 800px !default;
$container-6: 442px !default;
$container-7: 595px !default;
$container-8: 395px !default;
$container-9: 798px !default;
$container-10: 200px !default;
$container-11: 1080px !default;
$container-12: 1080px !default;
$container-full: 1500px !default;
$xcontainer-10: 200px !default;
$xcontainer-4: 360px !default;
$xcontainer-8: 395px !default;
$xcontainer-6: 442px !default;
$xcontainer-7: 595px !default;
$xcontainer-2: 700px !default;
$xcontainer-9: 798px !default;
$xcontainer: 800px !default;
$xcontainer-5: 800px !default;
$xcontainer-3: 900px !default;
$xcontainer-11: 1080px !default;
$xcontainer-12: 1080px !default;
$xcontainer-full: 1500px !default;
$height-xs: 60px !default;
$height-sm: 100px !default;
$height-md: 350px !default;
$height-lg: 400px !default;
$height-xl: 450px !default;
$height-full: 100vh !default;
$height-home: calc(100vh - 80px) !default;
$transition: 278ms !default;
$min-width: 320px !default;
$min-vw: 320px !default;
$max-vw: 1500px !default;
$svg-size: 16px;
$tooltip-padding: 8px;
$fs: 'font-size';
$lh: 'line-height';
$headers: (
  titularbase-m: (
    14px,
    14px,
    16px,
    16px,
    1.2,
    'medium'
  )
) !default;
$minheaders: (
  p-tag: (
    8px,
    10px,
    1.3,
    'regular'
  ),
  h2: (
    18px,
    24px,
    1.2,
    'bold'
  ),
  title-l: (
    12px,
    12px,
    1.4,
    'regular'
  ),
  title-l-l: (
    12px,
    12px,
    1.4,
    'light'
  ),
  title-l-b: (
    12px,
    12px,
    1.4,
    'medium'
  ),
  title-m: (
    11px,
    11px,
    1.4,
    'regular'
  ),
  title-s: (
    10px,
    10px,
    1.4,
    'regular'
  ),
  text-l: (
    12px,
    12px,
    1.5,
    'regular'
  ),
  text-l-l: (
    12px,
    12px,
    1.5,
    'light'
  ),
  text-m: (
    11px,
    11px,
    1.5,
    'regular'
  )
) !default;
$headersFixers: (
  12: (
    12px,
    1.5
  ),
  14: (
    14px,
    1.5
  ),
  16: (
    16px,
    1.5
  ),
  18: (
    18px,
    1.5
  ),
  20: (
    20px,
    1.5
  ),
  24: (
    24px,
    1.5
  )
) !default;
$headersFluids: (
  1: (
    60px,
    160px,
    0.8
  ),
  2: (
    40px,
    100px,
    0.9
  ),
  3: (
    20px,
    30px,
    0.9
  )
) !default;
$heights: (
  height-xs: (
    80px,
    80px
  ),
  height-sm: (
    100px,
    100px
  ),
  height-128: (
    128px,
    128px
  ),
  height-md: (
    350px,
    350px
  ),
  height-lg: (
    400px,
    400px
  ),
  height-xl: (
    450px,
    450px
  ),
  height-full: (
    100vh,
    100vh
  ),
  height-big: (
    300px,
    500px
  ),
  height-medium: (
    200px,
    400px
  ),
  height-mini: (
    100px,
    300px
  ),
  height-home: (
    calc(100vh - 80px),
    calc(100vh - 80px)
  )
) !default;
$mg: 'margin';
$mx: 'margin';
$my: 'margin';
$mt: 'margin-top';
$mr: 'margin-right';
$mb: 'margin-bottom';
$p: 'padding';
$py: 'padding';
$px: 'padding';
$pt: 'padding-top';
$pl: 'padding-left';
$pr: 'padding-right';
$pb: 'padding-bottom';
$ml: 'margin-left';
$padding-y: () !default;
$padding-x: () !default;
$margin: () !default;
$margin-x: () !default;
$margin-y: () !default;
$margin-left: () !default;
$margin-right: () !default;
$margin-top: (
  mtr-128: (
    64px,
    128px,
    128px,
    128px
  )
) !default;
$margin-bottom: (
  mbr-24: (
    16px,
    24px,
    24px,
    24px
  ),
  mbr-32: (
    16px,
    32px,
    32px,
    32px
  ),
  mbr-64: (
    32px,
    64px,
    64px,
    64px
  ),
  mbr-128: (
    64px,
    128px,
    128px,
    128px
  ),
  mbr-20-40: (
    20px,
    40px,
    40px,
    40px
  ),
  mbr-16-32: (
    16px,
    16px,
    32px,
    32px
  ),
  mbr-8-24: (
    8px,
    8px,
    24px,
    24px
  )
) !default;
$padding: (
  p-body: (
    20px,
    20px,
    40px,
    40px
  )
) !default;
$padding-top: (
  ptr-120: (
    64px,
    64px,
    120px,
    120px
  ),
  ptr-128: (
    64px,
    64px,
    128px,
    128px
  ),
  ptr-160: (
    64px,
    64px,
    160px,
    160px
  ),
  ptr-136: (
    48px,
    48px,
    136px,
    136px
  ),
  ptr-20-120: (
    20px,
    20px,
    120px,
    120px
  ),
  ptr-112: (
    80px,
    80px,
    112px,
    112px
  ),
  ptr-80: (
    48px,
    48px,
    80px,
    80px
  ),
  ptr-64: (
    32px,
    32px,
    64px,
    64px
  ),
  ptr-24: (
    16px,
    16px,
    24px,
    24px
  )
) !default;
$padding-bottom: (
  pbr-136: (
    64px,
    64px,
    136px,
    136px
  ),
  pbr-128: (
    64px,
    64px,
    128px,
    128px
  ),
  pbr-120: (
    64px,
    64px,
    120px,
    120px
  ),
  pbr-112: (
    80px,
    80px,
    112px,
    112px
  ),
  pbr-96: (
    64px,
    64px,
    96px,
    96px
  ),
  pbr-24: (
    16px,
    16px,
    24px,
    24px
  )
) !default;
$padding-left: (
  pl-body: (
    20px,
    20px,
    40px,
    40px
  )
) !default;
$padding-right: (
  pr-body: (
    20px,
    20px,
    40px,
    40px
  )
) !default;
