@use './functions' as *;

$prefix: "hg-" !default;

$breakpoints: (
  xs: 1px,
  sm: 768px,
  md: 992px,
  lg: 1280px,
  xl: 1440px
) !default;

$breakpoint-xs: map-get($breakpoints, xs) !default;
$breakpoint-sm: map-get($breakpoints, sm) !default;
$breakpoint-md: map-get($breakpoints, md) !default;
$breakpoint-lg: map-get($breakpoints, lg) !default;
$breakpoint-xl: map-get($breakpoints, xl) !default;

$spacers: (
  12: to-rem(1),
  25: to-rem(2),
  50: to-rem(4),
  100: to-rem(8),
  150: to-rem(12),
  200: to-rem(16),
  250: to-rem(20),
  300: to-rem(24),
  400: to-rem(32),
  500: to-rem(40),
  550: to-rem(48),
  700: to-rem(56),
  800: to-rem(64),
  900: to-rem(72),
  1000: to-rem(80),
  1200: to-rem(96),
  1300: to-rem(104),
  1400: to-rem(112),
  1500: to-rem(120),
  1600: to-rem(128),
  1700: to-rem(136),
  1800: to-rem(144),
  1900: to-rem(152),
  2000: to-rem(160),
) !default;

$spacer-12: map-get($spacers, 12) !default;
$spacer-25: map-get($spacers, 25) !default;
$spacer-50: map-get($spacers, 50) !default;
$spacer-100: map-get($spacers, 100) !default;
$spacer-150: map-get($spacers, 150) !default;
$spacer-200: map-get($spacers, 200) !default;
$spacer-250: map-get($spacers, 250) !default;
$spacer-300: map-get($spacers, 300) !default;
$spacer-400: map-get($spacers, 400) !default;
$spacer-500: map-get($spacers, 500) !default;
$spacer-550: map-get($spacers, 550) !default;
$spacer-700: map-get($spacers, 700) !default;
$spacer-800: map-get($spacers, 800) !default;
$spacer-900: map-get($spacers, 900) !default;
$spacer-1000: map-get($spacers, 1000) !default;
$spacer-1200: map-get($spacers, 1200) !default;
$spacer-1300: map-get($spacers, 1300) !default;
$spacer-1400: map-get($spacers, 1400) !default;
$spacer-1500: map-get($spacers, 1500) !default;
$spacer-1600: map-get($spacers, 1600) !default;
$spacer-1700: map-get($spacers, 1700) !default;
$spacer-1800: map-get($spacers, 1800) !default;
$spacer-1900: map-get($spacers, 1900) !default;
$spacer-2000: map-get($spacers, 2000) !default;

$utilities: (
  "opacity": (
    property: opacity,
    values: (
      0: 0,
      25: .25,
      50: .5,
      75: .75,
      100: 1,
      )
    ),
  "display": (
    property: display,
    responsive: true,
    values: contents inline inline-block block grid inline-grid flex inline-flex none
  ),
) !default;