@use "../abstract/all" as *;

$c-white: #ffffff;
$c-black: #000000;
$c-neutral: #808080;
$c-red: #ED0F2B;
$c-orange: #E5740B;
$c-green: #12882C;
$c-blue: #1A32A4;
$c-yellow: #FFCE4E;

// HolyGrail Core
:root {
    // Colors
    --hg-color-primary-0: #{mix($c-black, $c-white, 0%)}; // white
    --hg-color-primary-50: #{mix($c-black, $c-white, 2.35%)}; // lignt-grey
    --hg-color-primary-150: #{mix($c-black, $c-white, 18.43%)};
    --hg-color-primary-350: #{mix($c-black, $c-white, 33.73%)}; // middle-grey
    --hg-color-primary-450: #{mix($c-black, $c-white, 45.1%)};
    --hg-color-primary-550: #{mix($c-black, $c-white, 54.9%)}; // dark-grey
    --hg-color-primary-650: #{mix($c-black, $c-white, 66.27%)};
    --hg-color-primary-850: #{mix($c-black, $c-white, 81.57%)}; // ultra-grey
    --hg-color-primary-950: #{mix($c-black, $c-white, 97.65%)};
    --hg-color-primary-1000: #{mix($c-black, $c-white, 100%)}; // black
}

// HolyGrail Semantic
:root {
    @media (prefers-color-scheme: light) {
        --hg-color-surface-0: var(--hg-color-primary-0);
        --hg-color-surface-50: var(--hg-color-primary-50);
        --hg-color-surface-350: var(--hg-color-primary-350);
        --hg-color-surface-550: var(--hg-color-primary-550);
        --hg-color-surface-850: var(--hg-color-primary-850);
        --hg-color-surface-1000: var(--hg-color-primary-1000);
    }

    @media (prefers-color-scheme: dark) {
        --hg-color-surface-0: var(--hg-color-primary-1000);
        --hg-color-surface-50: var(--hg-color-primary-950);
        --hg-color-surface-350: var(--hg-color-primary-650);
        --hg-color-surface-550: var(--hg-color-primary-450);
        --hg-color-surface-850: var(--hg-color-primary-150);
        --hg-color-surface-1000: var(--hg-color-primary-0);
    }

    --hg-text-color-base: var(--hg-color-surface-1000);
    --hg-text-color-muted: var(--hg-color-surface-550);
}

// MD Core
:root {
    // Color neutral
    --core-color-neutral-0: #{mix($c-white, $c-neutral, 100%)};
    --core-color-neutral-50: #{mix($c-white, $c-neutral, 90%)};
    --core-color-neutral-100: #{mix($c-white, $c-neutral, 80%)};
    --core-color-neutral-200: #{mix($c-white, $c-neutral, 60%)};
    --core-color-neutral-300: #{mix($c-white, $c-neutral, 40%)};
    --core-color-neutral-400: #{mix($c-white, $c-neutral, 20%)};
    --core-color-neutral-500: #{$c-neutral};
    --core-color-neutral-600: #{mix($c-black, $c-neutral, 20%)};
    --core-color-neutral-700: #{mix($c-black, $c-neutral, 40%)};
    --core-color-neutral-800: #{mix($c-black, $c-neutral, 60%)};
    --core-color-neutral-900: #{mix($c-black, $c-neutral, 80%)};
    --core-color-neutral-950: #{mix($c-black, $c-neutral, 90%)};
    --core-color-neutral-1000: #{mix($c-black, $c-neutral, 100%)};

    // Color red
    --core-color-red-50: #{mix($c-white, $c-red, 90%)};
    --core-color-red-100: #{mix($c-white, $c-red, 80%)};
    --core-color-red-200: #{mix($c-white, $c-red, 60%)};
    --core-color-red-300: #{mix($c-white, $c-red, 40%)};
    --core-color-red-400: #{mix($c-white, $c-red, 20%)};
    --core-color-red-500: #{$c-red};
    --core-color-red-600: #{mix($c-black, $c-red, 20%)};
    --core-color-red-700: #{mix($c-black, $c-red, 40%)};
    --core-color-red-800: #{mix($c-black, $c-red, 60%)};
    --core-color-red-900: #{mix($c-black, $c-red, 80%)};
    --core-color-red-950: #{mix($c-black, $c-red, 90%)};

    // Color orange
    --core-color-orange-50: #{mix($c-white, $c-orange, 90%)};
    --core-color-orange-100: #{mix($c-white, $c-orange, 80%)};
    --core-color-orange-200: #{mix($c-white, $c-orange, 60%)};
    --core-color-orange-300: #{mix($c-white, $c-orange, 40%)};
    --core-color-orange-400: #{mix($c-white, $c-orange, 20%)};
    --core-color-orange-500: #{$c-orange};
    --core-color-orange-600: #{mix($c-black, $c-orange, 20%)};
    --core-color-orange-700: #{mix($c-black, $c-orange, 40%)};
    --core-color-orange-800: #{mix($c-black, $c-orange, 60%)};
    --core-color-orange-900: #{mix($c-black, $c-orange, 80%)};
    --core-color-orange-950: #{mix($c-black, $c-orange, 90%)};

    // Color green
    --core-color-green-50: #{mix($c-white, $c-green, 90%)};
    --core-color-green-100: #{mix($c-white, $c-green, 80%)};
    --core-color-green-200: #{mix($c-white, $c-green, 60%)};
    --core-color-green-300: #{mix($c-white, $c-green, 40%)};
    --core-color-green-400: #{mix($c-white, $c-green, 20%)};
    --core-color-green-500: #{$c-green};
    --core-color-green-600: #{mix($c-black, $c-green, 20%)};
    --core-color-green-700: #{mix($c-black, $c-green, 40%)};
    --core-color-green-800: #{mix($c-black, $c-green, 60%)};
    --core-color-green-900: #{mix($c-black, $c-green, 80%)};
    --core-color-green-950: #{mix($c-black, $c-green, 90%)};

    // Color blue
    --core-color-blue-50: #{mix($c-white, $c-blue, 90%)};
    --core-color-blue-100: #{mix($c-white, $c-blue, 80%)};
    --core-color-blue-200: #{mix($c-white, $c-blue, 60%)};
    --core-color-blue-300: #{mix($c-white, $c-blue, 40%)};
    --core-color-blue-400: #{mix($c-white, $c-blue, 20%)};
    --core-color-blue-500: #{$c-blue};
    --core-color-blue-600: #{mix($c-black, $c-blue, 20%)};
    --core-color-blue-700: #{mix($c-black, $c-blue, 40%)};
    --core-color-blue-800: #{mix($c-black, $c-blue, 60%)};
    --core-color-blue-900: #{mix($c-black, $c-blue, 80%)};
    --core-color-blue-950: #{mix($c-black, $c-blue, 90%)};

    // Color yellow
    --core-color-yellow-50: #{mix($c-white, $c-yellow, 90%)};
    --core-color-yellow-100: #{mix($c-white, $c-yellow, 80%)};
    --core-color-yellow-200: #{mix($c-white, $c-yellow, 60%)};
    --core-color-yellow-300: #{mix($c-white, $c-yellow, 40%)};
    --core-color-yellow-400: #{mix($c-white, $c-yellow, 20%)};
    --core-color-yellow-500: #{$c-yellow};
    --core-color-yellow-600: #{mix($c-black, $c-yellow, 20%)};
    --core-color-yellow-700: #{mix($c-black, $c-yellow, 40%)};
    --core-color-yellow-800: #{mix($c-black, $c-yellow, 60%)};
    --core-color-yellow-900: #{mix($c-black, $c-yellow, 80%)};
    --core-color-yellow-950: #{mix($c-black, $c-yellow, 90%)};
    
    // Font sizes
    --core-font-size-root: 100%;
    --core-font-size-75: #{toRem(11)};
    --core-font-size-100: #{toRem(12)};
    --core-font-size-150: #{toRem(14)};
    --core-font-size-200: #{toRem(16)};
    
    // Line heights
    --core-line-height-100: 1;
    --core-line-height-120: 1.2;
    --core-line-height-150: 1.5;
}

// MD Semantic
:root {
    // Colors
    @media (prefers-color-scheme: light) {
        --md-color-surface-0: var(--core-color-neutral-0);
        --md-color-surface-50: var(--core-color-neutral-50);
        --md-color-surface-200: var(--core-color-neutral-200);
        --md-color-surface-500: var(--core-color-neutral-500);
        --md-color-surface-800: var(--core-color-neutral-800);
        --md-color-surface-950: var(--core-color-neutral-950);
        --md-color-surface-1000: var(--core-color-neutral-1000);
    }

    @media (prefers-color-scheme: dark) {
        --md-color-surface-0: var(--core-color-neutral-1000 );
        --md-color-surface-50: var(--core-color-neutral-950);
        --md-color-surface-200: var(--core-color-neutral-800);
        --md-color-surface-500: var(--core-color-neutral-500);
        --md-color-surface-800: var(--core-color-neutral-250);
        --md-color-surface-950: var(--core-color-neutral-50);
        --md-color-surface-1000: var(--core-color-neutral-0);
    }

    // Body text
    --md-text-color-base: var(--hg-text-color-base, var(--md-color-surface-950));
    --md-text-color-muted: var(--hg-text-color-muted, var(--md-color-surface-500));
    
    --md-text-size-s: var(--core-font-size-75);
    --md-text-size-base: var(--core-font-size-100);
    --md-text-size-l: var(--core-font-size-150);

    --md-text-line-height-base: var(--core-line-height-150);

    // Focus
    --md-focus-ring: var(--hg-focus-ring, 2px solid var(--core-color-blue-500));
    --md-focus-ring-offset: var(--hg-focus-ring-offset, 1px);

    // Shadow
    @media (prefers-color-scheme: light) {
        --md-shadow-0: var(--hg-shadow-0, 0 0 0);
        --md-shadow-100: var(--hg-shadow-100, 1px 2px 0 rgba(0, 0, 0, 0.05));
        --md-shadow-200: var(--hg-shadow-200, 1px 3px 0 rgba(0, 0, 0, 0.1));
        --md-shadow-300: var(--hg-shadow-300, 1px 5px 0 rgba(0, 0, 0, 0.15));
    }

    @media (prefers-color-scheme: dark) {
        --md-shadow-0: var(--hg-shadow-0, 0 0 0);
        --md-shadow-100: var(--hg-shadow-100, 1px 2px 0 rgba(255, 255, 255, 0.05));
        --md-shadow-200: var(--hg-shadow-200, 1px 3px 0 rgba(255, 255, 255, 0.1));
        --md-shadow-300: var(--hg-shadow-300, 1px 5px 0 rgba(255, 255, 255, 0.15));
    }

    // Transitions
    --md-transition-duration-fast: var(--hg-transition-duration-fast, 0.1s);
    --md-transition-duration-medium: var(--hg-transition-duration-medium, 0.3s);
    --md-transition-duration-slow: var(--hg-transition-duration-slow, 0.5s);
    --md-transition-timing-function: var(--hg-transition-timing-function, ease-in-out);

    // Field sizes
    --md-field-size-base: var(--hg-field-size-base, #{toRem(40)});
}