@import '../abstract/_all';
.checkbox-item {
  text-align: center;
  position: relative;
  .ico-check {
    width: 22px;
    height: 22px;
    inset-inline-start: 0;
    top: 0;
  }
  .ico-check::after {
    position: absolute;
    content: '';
    height: 1px;
    background-color: $c-primary;
    width: 16px;
    transform: rotate(136deg);
    inset-inline-start: 4px;
    top: 8px;
  }
  .ico-check::before {
    position: absolute;
    content: '';
    width: 8px;
    height: 1px;
    top: 10px;
    transform: rotate(50deg);
    background-color: $c-primary;
  }
  [type='checkbox']:not(:checked) + label,
  [type='checkbox']:checked + label {
    position: relative;
    padding-inline-start: 24px;
    cursor: pointer;
    font-weight: normal;
    font-size: $text-sm;
    text-align: initial;
    display: flex;
  }
  [type='checkbox']:not(:checked) + label::before,
  [type='checkbox']:checked + label::before {
    position: absolute;
    content: '';
    width: 14px;
    height: 14px;
    inset-inline-start: 0;
    border: none;
    border: 1px solid $c-primary;
    outline: 0;
    display: inline-block;
    vertical-align: top;
  }
  [type='checkbox']:not(:checked) + label span,
  [type='checkbox']:checked + label span {
    display: initial;
    vertical-align: top;
    margin: 0;
    line-height: 16px;
    min-height: 20px;
    padding-inline-start: 0;
    &::after {
      content: ' ';
    }
  }
  [type='checkbox']:not(:checked) + label a,
  [type='checkbox']:checked + label a {
    text-decoration: underline;
    margin-inline-end: 4px;
  }
  [type='checkbox']:not(:checked),
  [type='checkbox']:checked {
    position: absolute; /* Lo saca del flujo normal */
    clip: rect(0 0 0 0); /* Recorta el elemento para que no sea visible */
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
  }
  input[type='checkbox'] {
    box-sizing: border-box;
    padding: 0;
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
  }
  [type='checkbox']:not(:checked) + label .icon,
  [type='checkbox']:checked + label .icon {
    position: absolute;
    top: 3px;
    inset-inline-start: 2px;
    color: $c-primary;
    transition: all 0.2s;
  }
  [type='checkbox']:not(:checked) + label .icon {
    opacity: 0;
    transform: scale(0);
  }
  [type='checkbox']:checked + label .icon {
    opacity: 1;
    transform: scale(1);
  }
  [type='checkbox']:not(:checked) + label::before {
    background-color: #fff;
  }
  [type='checkbox']:checked + label::before {
    background-color: $c-primary;
  }
  &.color-filter {
    [type='checkbox']:not(:checked) + label,
    [type='checkbox']:checked + label {
      padding-inline-start: 32px;
    }
    .color-wrap {
      button {
        margin-inline-end: 0;
      }
    }
    [type='checkbox']:not(:checked) + label span,
    [type='checkbox']:checked + label span {
      padding-inline-start: 14px;
    }
  }
  &.is-error {
    color: $c-error;
    [type='checkbox']:checked + label::before,
    [type='checkbox']:not(:checked) + label::before {
      border: 1px solid $c-error;
    }
  }
}
.check-center.checkbox-radio [type='radio']:checked + label .border-1-grey {
  border: 1px solid $c-primary;
}
.checkbox-item-2 {
  display: inline-block;
  text-align: center;
  margin: 0;
  [type='checkbox']:not(:checked) + label,
  [type='checkbox']:checked + label {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding-inline-start: 0;
    cursor: pointer;
    font-weight: normal;
    font-size: $text-sm;
    text-align: initial;
    display: flex;
    min-height: 26px;
  }
  [type='checkbox']:not(:checked) + label::before,
  [type='checkbox']:checked + label::before {
    position: absolute;
    content: '';
    width: 62px;
    height: 26px;
    border-radius: 0;
    inset-inline-start: 0;
    border: none;
    border: 1px solid $c-primary;
    outline: 0;
    display: inline-block;
    vertical-align: top;
    margin-block: 0;
    margin-inline: 0 10px;
    top: 0;
  }
  [type='checkbox']:not(:checked) + label span,
  [type='checkbox']:checked + label span {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding-inline-start: 70px;
  }
  [type='checkbox']:not(:checked),
  [type='checkbox']:checked {
    position: absolute; /* Lo saca del flujo normal */
    clip: rect(0 0 0 0); /* Recorta el elemento para que no sea visible */
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
  }
  input[type='checkbox'] {
    box-sizing: border-box;
    padding: 0;
    margin: 4px 0 0;
    line-height: normal;
  }
  .checkbox-circle {
    background: $c-primary;
    width: 20px;
    height: 20px;
    border-radius: 0;
  }
  [type='checkbox']:not(:checked) + label .checkbox-circle,
  [type='checkbox']:checked + label .checkbox-circle {
    position: absolute;
    top: 3px;
    inset-inline-start: 6px;
    color: $c-primary;
    transition: all 0.2s;
  }
  [type='checkbox']:not(:checked) + label .checkbox-circle {
    opacity: 1;
    transform: scale(1);
    inset-inline-start: 4px;
  }
  [type='checkbox']:checked + label .checkbox-circle {
    opacity: 1;
    transform: scale(1);
    inset-inline-start: 38px;
  }
}
.checkbox-radio {
  position: relative;
  [type='radio']:not(:checked) + label,
  [type='radio']:checked + label {
    position: relative;
    padding-inline-start: 0;
    cursor: pointer;
    font-weight: normal;
    font-size: $text-sm;
    text-align: initial;
    display: flex;
    flex-direction: column;
    float: none;
  }
  [type='radio']:not(:checked) + label::before,
  [type='radio']:checked + label::before {
    position: absolute;
    box-sizing: border-box;
    content: '';
    width: 14px;
    height: 14px;
    inset-inline-start: 0;
    border: none;
    border: 1px solid $c-primary;
    outline: 0;
    display: inline-block;
    vertical-align: top;
    margin-block: 0;
    margin-inline: 0 10px;
    border-radius: 0;
  }
  [type='radio']:not(:checked) + label span,
  [type='radio']:checked + label span {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    line-height: 16px;
    padding-inline-start: 24px;
    min-height: 20px;
  }
  [type='radio']:not(:checked),
  [type='radio']:checked {
    position: absolute; /* Lo saca del flujo normal */
    clip: rect(0 0 0 0); /* Recorta el elemento para que no sea visible */
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
  }
  input[type='radio'] {
    box-sizing: border-box;
    padding: 0;
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
  }
  [type='radio']:not(:checked) + label .ico-radio,
  [type='radio']:checked + label .ico-radio {
    position: absolute;
    top: 5px;
    inset-inline-start: 5px;
    width: 4px;
    height: 4px;
    background-color: $c-primary;
    border-radius: 0;
    transition: all 0.2s;
  }
  [type='radio']:not(:checked) + label .ico-radio {
    opacity: 0;
    transform: scale(0);
  }
  [type='radio']:checked + label .ico-radio {
    opacity: 1;
    transform: scale(1);
  }
  [type='radio']:disabled {
    opacity: 0.5;
  }
  [type='radio']:disabled + label::before {
    opacity: 0.5;
  }
  label {
    padding-bottom: 0;
  }

  &.is-error {
    label::before {
      border: 1px solid #b40016 !important;
    }
    span {
      color: #b40016 !important;
    }
  }
}
.checkbox-item-text {
  min-height: 42px;
  span {
    position: relative;
    margin-inline-start: 24px;
    min-height: 40px;
  }
}
.checkbox-item-box {
  position: relative;
  width: 14px;
  height: 14px;
}
.checkbox-item-img {
  text-align: center;
  position: relative;
  &.is-error {
    color: $c-error;
    [type='checkbox']:checked + label::before,
    [type='checkbox']:not(:checked) + label::before {
      border: 1px solid $c-error;
    }
  }
  .ico-check {
    width: 22px;
    height: 22px;
    inset-inline-start: 0;
    top: 0;
    &::after {
      position: absolute;
      content: '';
      height: 1px;
      background-color: $c-primary;
      width: 16px;
      transform: rotate(136deg);
      inset-inline-start: 4px;
      top: 8px;
    }
    &::before {
      position: absolute;
      content: '';
      width: 8px;
      height: 1px;
      top: 10px;
      transform: rotate(50deg);
      background-color: $c-primary;
    }
  }
  [type='checkbox'] + label::after {
    width: 80px;
    height: 80px;
    content: '';
  }
  [type='checkbox']:not(:checked),
  [type='checkbox']:checked {
    position: absolute;
    inset-inline-start: -9999px;
  }
  [type='checkbox']:not(:checked) + label,
  [type='checkbox']:checked + label {
    padding-bottom: calc(132%);
    height: 100%;
    width: 100%;
    aspect-ratio: 3 / 4;
    position: relative;
    padding-inline-start: 24px;
    cursor: pointer;
    font-weight: normal;
    font-size: 12px;
    text-align: initial;
    display: flex;
    span {
      display: initial;
      vertical-align: top;
      margin: 0;
      line-height: 16px;
      min-height: 20px;
      padding-inline-start: 0;
      &::after {
        content: ' ';
      }
    }
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      aspect-ratio: 3 / 4;
      inset-inline-start: 0;
      border: none;
      border: 1px solid #a3a0a0;
      outline: 0;
      display: inline-block;
      vertical-align: top;
      margin: 0;
    }
    a {
      text-decoration: underline;
      margin-inline-end: 4px;
    }
  }
  .checkbox-item [type='checkbox']:not(:checked) + label .icon,
  .checkbox-item [type='checkbox']:checked + label .icon {
    position: absolute;
    top: 50%;
    inset-inline-start: 50%;
    transform: scale(1) translate(-50%, calc(-50% - 30px));
    color: $c-primary;
    transition: all 0.2s;
  }
  input[type='checkbox'] {
    box-sizing: border-box;
    padding: 0;
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
  }
  [type='checkbox']:checked + label .icon {
    opacity: 1;
    transform: scale(1) translate(-50%, calc(-50% - 30px));
  }
  .checkbox-item [type='checkbox']:checked + label .icon {
    opacity: 1;
    transform: scale(1) translate(-50%, calc(-50% - 30px));
  }
  [type='checkbox']:checked + label {
    border: 1px solid $c-primary;
  }
  [type='checkbox']:not(:checked) + label .icon {
    opacity: 0;
    transform: scale(0) translate(-50%, calc(-50% - 30px));
  }
  [type='checkbox']:not(:checked) + label {
    border: 1px solid transparent;
  }
  &.color-filter {
    [type='checkbox']:not(:checked) + label,
    [type='checkbox']:checked + label {
      padding-inline-start: 32px;
    }
    .color-wrap {
      button {
        margin-inline-end: 0;
      }
    }
    [type='checkbox']:not(:checked) + label span,
    [type='checkbox']:checked + label span {
      padding-inline-start: 14px;
    }
  }
  img {
    width: 100%;
    position: absolute;
    top: 0;
    inset-inline-start: 0;
  }
  .checkbox-item-img-text {
    position: absolute;
    bottom: 0;
    inset-inline-start: 0;
    width: 100%;
    height: 80px;
  }
}
.check-no {
  &.checkbox-radio [type='radio']:checked + label::before,
  &.checkbox-radio [type='radio']:not(:checked) + label::before {
    display: none;
  }
  &.checkbox-radio [type='radio']:checked + label .ico-radio {
    display: none;
  }
  &.checkbox-radio [type='radio']:checked + label .border-1,
  &.checkbox-radio [type='radio']:checked + label .border-1-grey {
    border: 1px solid $c-primary;
  }
}
.check-center {
  &.checkbox-radio [type='radio']:checked + label::before,
  &.checkbox-radio [type='radio']:not(:checked) + label::before {
    position: absolute;
    top: 50%;
    inset-inline-start: 16px;
    transform: translateY(-50%);
  }
  &.checkbox-radio [type='radio']:checked + label .ico-radio,
  &.checkbox-radio [type='radio']:not(:checked) + label .ico-radio {
    top: 50%;
    inset-inline-start: 21px;
    margin-top: -2px;
  }
  .box3-content {
    padding-inline-start: calc(14px + 16px);
  }
  &.checkbox-radio [type='radio']:checked + label .border-1-grey {
    border: 1px solid $c-primary;
  }
  &.checkbox-radio [type='radio']:checked + label .border-1 {
    border: 1px solid $c-primary;
  }
}
.check-top {
  &.checkbox-radio [type='radio']:checked + label::before,
  &.checkbox-radio [type='radio']:not(:checked) + label::before {
    position: absolute;
    top: 16px;
    inset-inline-start: 16px;
  }
  &.checkbox-radio [type='radio']:checked + label .ico-radio,
  &.checkbox-radio [type='radio']:not(:checked) + label .ico-radio {
    top: 23px;
    inset-inline-start: 23px;
  }
  .box3-content {
    padding-inline-start: calc(14px + 16px);
  }
  &.checkbox-radio [type='radio']:checked + label .border-1,
  &.checkbox-radio [type='radio']:checked + label .border-1-grey {
    border: 1px solid $c-primary;
  }
}
.check-bleed {
  &.checkbox-radio [type='radio']:checked + label::before,
  &.checkbox-radio [type='radio']:not(:checked) + label::before {
    inset-inline-start: 0;
  }
  &.checkbox-radio [type='radio']:checked + label .ico-radio,
  &.checkbox-radio [type='radio']:not(:checked) + label .ico-radio {
    inset-inline-start: 5px;
  }
}
.check-clear {
  &.checkbox-radio [type='radio']:checked + label::before,
  &.checkbox-radio [type='radio']:not(:checked) + label::before {
    position: absolute;
    top: 16px;
    inset-inline-start: 0;
  }
  &.checkbox-radio [type='radio']:checked + label .ico-radio,
  &.checkbox-radio [type='radio']:not(:checked) + label .ico-radio {
    top: 23px;
    inset-inline-start: 4px;
  }
  .box3-content {
    padding-inline-start: calc(14px + 16px);
  }
  &.checkbox-radio [type='radio']:checked + label .border-1,
  &.checkbox-radio [type='radio']:checked + label .border-1-grey {
    border: 1px solid $c-primary;
  }
}
.checkbox-card {
  .checkbox-card-label {
    border-radius: 0;
    overflow: hidden;
    border: 1px solid $c-middle-grey;
    background: $c-white;
    flex-direction: column;
    display: flex;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    transition: all 0.2s ease;
  }
  & [type='radio'] {
    position: absolute; /* Lo saca del flujo normal */
    clip: rect(0 0 0 0); /* Recorta el elemento para que no sea visible */
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
  }
  & [type='radio']:checked,
  & :hover {
    & + .checkbox-card-label {
      cursor: pointer;
      border: 1px solid $c-primary;
    }
  }
  .has-light & {
    color: $c-white;
    .checkbox-card-label {
      border: 1px solid $c-dark-grey;
      background: $c-primary;
    }
    & [type='radio']:checked,
    & :hover {
      & + .checkbox-card-label {
        cursor: pointer;
        border: 1px solid $c-white;
      }
    }
  }

  &.is-error {
    .checkbox-card-label {
      border: 1px solid #b40016 !important;
      color: #b40016 !important;
    }
  }
}
.is-active {
  &.checkbox-radio .border-1,
  &.checkbox-radio .border-1-grey {
    border: 1px solid $c-primary;
  }
  &.checkbox-radio [type='radio'] + label .ico-radio {
    opacity: 1;
    transform: scale(1);
  }
}
.is-error {
  &.checkbox-item,
  .checkbox-item {
    [type='checkbox']:checked + label::before,
    [type='checkbox']:not(:checked) + label::before {
      border: 1px solid $c-error !important;
    }
    a {
      color: $c-error !important;
    }
    svg {
      g {
        fill: $c-error !important;
        polyline {
          stroke: $c-error !important;
        }
      }
    }
  }
}
.has-light {
  .checkbox-item {
    .ico-check::after {
      background-color: transparent;
    }
    .ico-check::before {
      background-color: $c-white;
    }
    [type='checkbox']:not(:checked) + label::before,
    [type='checkbox']:checked + label::before {
      border: 1px solid $c-white;
    }
    [type='checkbox']:not(:checked) + label .icon,
    [type='checkbox']:checked + label .icon {
      color: $c-white;
    }
    svg {
      g {
        fill: $c-white;
        polyline {
          stroke: $c-white;
        }
      }
    }
  }
  .checkbox-radio {
    [type='radio']:not(:checked) + label::before,
    [type='radio']:checked + label::before {
      border: 1px solid $c-white;
    }
    [type='radio']:not(:checked) + label .ico-radio,
    [type='radio']:checked + label .ico-radio {
      background-color: $c-white;
    }
  }
  .checkbox-item-2 {
    [type='checkbox']:not(:checked) + label::before,
    [type='checkbox']:checked + label::before {
      border: 1px solid $c-white;
    }
    .checkbox-circle {
      background: $c-white;
    }
    [type='checkbox']:not(:checked) + label .checkbox-circle,
    [type='checkbox']:checked + label .checkbox-circle {
      color: $c-white;
    }
  }
}
