.md-skip-to-content {
    left: 16px;
    margin-top: -120px;
    position: absolute;
    top: 8px;
    transition: margin  0.2s ease-in-out;
    z-index: 10000;
    
    &:focus {
        margin-top: 0;
        
        &.btn-primary {
            background-color: $c-black;
            border-color: $c-black;
        }
    }
}