
@import '../abstract/_all';

.md-drawer-overlay {
  background-color: var(--hg-color-black-60);
  border: none;
  height: 100%;
  height: auto;
  inset: 0;
  margin: 0;
  max-height: 100%;
  max-width: 100%;
  opacity: 0;
  padding: 0;
  pointer-events: none;
  position: fixed;
  transition: opacity 0.3s ease-in-out;
  width: 100%;
  z-index: 1999;
}

.md-drawer {
  --md-drawer-width: 26.5rem;
  --md-drawer-translateX-start: translateX(100%);
  --md-drawer-translateX-end: translateX(0);
  --md-drawer-padding-inline: var(--hg-spacing-20);
  --md-drawer-header-min-height: var(--hg-spacing-48);
  --md-drawer-close-margin-block: 0 0;

  align-items: stretch;
  background-clip: padding-box;
  background-color: var(--hg-color-white);
  display: flex;
  flex-flow: column nowrap;
  inset-block: 0;
  inset-inline-end: 0;
  justify-content: flex-start;
  max-width: 100%;
  outline: 0;
  position: fixed;
  transform: var(--md-drawer-translateX-start);
  transition: all 0.3s ease-in-out;
  width: var(--md-drawer-width);
  z-index: 2050;
}

.md-drawer-content {
  display: contents;
}

.md-drawer-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  flex: 0 1 auto;
  column-gap: var(--hg-spacing-16);
  min-height: var(--md-drawer-header-min-height);
  padding-block: var(--hg-spacing-8);
  padding-inline-end: calc(var(--md-drawer-padding-inline) - var(--hg-spacing-8));
  padding-inline-start: var(--md-drawer-padding-inline);
}

.btn.md-btn-drawer-close {
  display: flex;
  align-items: center;
  align-self: flex-start;
  flex-flow: column nowrap;
  justify-content: center;
  height: auto;
  margin-block: var(--md-drawer-close-margin-block);
  margin-inline:  auto 0;
  min-height: var(--hg-spacing-32);
  min-width: var(--hg-spacing-32);
  padding: 0;
  width: auto;
}

.md-drawer-body {
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  justify-content: flex-start;
  overflow-y: auto;
  padding-block: var(--hg-spacing-24);
  padding-inline: var(--md-drawer-padding-inline);

}

.md-drawer-footer {
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 auto;
  justify-content: flex-start;
  padding-block: var(--hg-spacing-16);
  padding-inline: var(--md-drawer-padding-inline);
}

.md-drawer-footer-action {
  flex: 1 1 auto;
}

.md-drawer-close {
  display: contents;
}

.md-drawer.md-drawer-sm {
  width: 26.5rem;
}

.md-drawer.md-drawer-md {
  width: 40rem;
}

.md-drawer.md-drawer-xl {
  width: 45rem;
}

.md-drawer.md-drawer-reset .md-drawer-body,
.md-drawer.md-drawer-reset .md-drawer-footer {
  --md-drawer-padding-inline: 0;
  padding-block: 0;
}

body.md-open-drawer .md-drawer {
  transform: var(--md-drawer-translateX-end);
}

body.md-open-drawer .md-drawer-overlay {
  opacity: 1;
  pointer-events: auto;
}

[dir='rtl'] .md-drawer {
  --md-drawer-translateX-start: translateX(-100%);
}

@media (min-width: 48rem) {
  .md-drawer {
    --md-drawer-padding-inline: var(--hg-spacing-40);
    --md-drawer-header-min-height: var(--hg-spacing-64);
    --md-drawer-close-margin-block: var(--hg-spacing-8) 0;
  }
}