@use 'sass:list';
@use 'sass:map';

$minbreakpoints: (
  xs: 1px,
  md: 992px
) !default;

$breakpoints: (
  xs: 1px,
  sm: 768px,
  md: 992px,
  lg: 1280px
) !default;
$breakpointscols: (
  xs: 1px,
  sm: 768px,
  md: 992px,
  lg: 1280px,
  xl: 1440px
) !default;

$colBreakpoints: list.length($breakpoints) !default;
$colBreakpointscols: list.length($breakpointscols) !default;
$break-xs: list.nth(map.values($breakpoints), 1) !default;
$break-sm: list.nth(map.values($breakpoints), 2) !default;
$break-md: list.nth(map.values($breakpoints), 3) !default;
$break-lg: list.nth(map.values($breakpoints), 4) !default;
$break-xl: list.nth(map.values($breakpointscols), 5) !default;
$min-width: 320px !default;
$break-xl: 1440px !default;
$break-2xl: 1600px !default;
$break-3xl: 1920px !default;

$min-width: 319px !default;