$c-primary: #000 !default;
$c-primary-3: rgba(0, 0, 0, 0.03) !default;
$c-primary-15: rgba(0, 0, 0, 0.15) !default;
$c-primary-30: rgba(0, 0, 0, 0.30) !default;
$c-primary-60: rgba(0, 0, 0, 0.60) !default;
$c-primary-97: rgba(0, 0, 0, 0.97) !default;
$c-secondary: #000 !default;
$c-secondary-3: rgba(255, 255, 255, 0.03) !default;
$c-secondary-15: rgba(255, 255, 255, 0.15) !default;
$c-secondary-30: rgba(255, 255, 255, 0.30) !default;
$c-secondary-60: rgba(255, 255, 255, 0.6) !default;
$c-secondary-97: rgba(255, 255, 255, 0.97) !default;
$c-ultra-grey: #2F2F2F !default;
$c-dark-grey: #737373 !default;
$c-middle-grey: #a9a9a9 !default;
$c-light-grey: #F9F9F9 !default;
$c-green: #12882C !default;
$c-red: #DD2D01 !default;
$c-orange: #B75D0B !default;
$c-blue: #2037A6 !default;
$c-yellow: #FFCE4E !default;
$c-golden: #FFE693 !default;
$c-vanilla: #F4F2ED !default;
$c-feel: #000 !default;
$c-feel-light: #F0F0F0 !default;
$c-feel-dark: #A9A9A9 !default;
$c-feel-silver: #87888d !default;
$c-feel-gold: #a38a6b !default;
$c-feel-platinum: #5B7FA1 !default;
$c-feel-black: #1D1D1D !default;
$c-white: #fff !default; // LEGACY;
$c-black: #000 !default; // LEGACY;
$c-accent: #B40016 !default; // LEGACY;
$c-error: #B40016 !default; // LEGACY;
$c-sale: #ffce4e !default; // LEGACY;
$c-info: #1a32a4 !default; // LEGACY;
$c-valid: #12882c !default; // LEGACY;
$c-warning: #ffce4e !default; // LEGACY;
$c-notice: #e5740b !default; // LEGACY;
$c-orange-legacy: #e5740b !default; // LEGACY;
$c-limited: #000 !default; // LEGACY;
$c-success: #12882c !default; // LEGACY;
$c-alert: #ffce4e !default; // LEGACY;
$c-facebook: #186CF1 !default; // LEGACY;
$c-google: #4285f4 !default; // LEGACY;
$c-naver: #03cf5d !default; // LEGACY;
$c-wechat: #2dc100 !default; // LEGACY;
$c-tier-silver: #87888d !default; // LEGACY;
$c-tier-platinum: #5b7fa1 !default; // LEGACY;
$c-tier-gold: #a38a6b !default; // LEGACY;
$bg-light: #f0f0f0 !default; // LEGACY;
$bg-dark: #000 !default; // LEGACY;
$bg-black: #000 !default; // LEGACY;
$c-bg-light: #000 !default; // LEGACY;
$c-bg-dark: #fff !default; // LEGACY;
$white-smoke: #f0f0f0 !default; // LEGACY;
$primary: #000000 !default; // LEGACY;
$primary-guide: #363636 !default; // LEGACY;
$secondary-guide: #6759bb !default; // LEGACY;
$ternary-guide: #6759bb !default; // LEGACY;
$list-disc-color: #1a1a1a !default; // LEGACY;
$c-duti-sucess: #76ae4a !default; // LEGACY;
$c-duti-warning: #ffc700 !default; // LEGACY;
$c-duti-feel: #fb9962 !default; // LEGACY;
$c-duti-feel-dark: #c94c07 !default; // LEGACY;
$c-duti-special: #b99d6b !default; // LEGACY;
$c-duti-sk-grey: #e3e3e3 !default; // LEGACY;
$c-duti-bg-cream: #f4f2ed !default; // LEGACY;
$c-duti-default-md: #292929 !default; // LEGACY;
$c-duti-primary: #292929 !default; // LEGACY;
